.hero {
    position: absolute;
    top: 0;
    z-index: -99;
    width: 100%;
    height: 60vh;
    object-fit: cover;
    filter: brightness(50%);
}

.introductieFoto {
    margin-top: auto;
}

body {
    font-family: 'Poppins', sans-serif;
}

.footer {
    position: absolute;
    bottom: 0;
}